:root{
    --focus-color: #2196F3;
    --title-color: #212121;
    --contact-color: #757575;
    --model-button: #188CE8;
    --basic-color: #000;
    --border-line-color: #ECECEC;
}
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
}

.list{
    list-style: none;
    
}
.link{
    text-decoration: none;
}


body {
    font-family: Roboto;
    color: var(--basic-color);
    max-width: 1600px;
    background-color: #fff;
    margin: 0 auto;
    
}


/*--------Оболочка----------*/
.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.flex-container {
    display: flex;
}

/*-----Header-----*/
.header {
    color: var(--basic-color);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border-line-color);
}


.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--basic-color);
    margin: 24px 90px 24px 0px;
}
.logo-web{
    color: var(--focus-color);
}
.header-nav-container{
    display: flex;
}
.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: flex;
    padding-top: 32px;
    
}
.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-list-item-link {
    color: var(--basic-color);
    text-decoration: none;
}


.header-list-item-link:hover,
.header-list-item-link:focus{
    color: var(--focus-color);
}

.header-contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts-item:not(:last-child){
    margin-right: 50px;
}
.contacts-item-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    text-decoration: none;  
}

.contacts-item-link:hover ,
.contacts-item-link:focus {
    color: var(--focus-color);
}


/*-----Main------*/

.main-decision-section{
    background-color: #2F303A;
  

}

.portfolio-nav-list{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    padding-top: 95px;
    
}

.portfolio-nav-list-item:not(:last-child){
    margin-right: 8px;
}

.main-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 95px;
 
}
.main-portfolio-list-item{
    border: 1px solid var(--border-line-color);
    margin-bottom: 30px;
}
.main-portfolio-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
.portfolio-description-section{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.main-properties-list{
    padding-top: 95px;
    padding-bottom: 95px;
    display: flex;
   
}

.main-properties-list-item:not(:last-child){
    margin-right: 30px;
}

.main-title-business{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 30px;
}

.model-button{
    color: #fff;
    background-color: var(--focus-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 200px;

}

.model-button:hover,
.model-button:focus{
    background-color: var(--model-button);
}

.centered-model-button{
    display: flex;
    justify-content: center;
}
.business-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.visually-hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;  
}



.business-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}



.job-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.example-images{
    display: flex;
    justify-content: center;
    padding-bottom: 95px;
    
}

.example-img-item:not(:last-child){
    margin-right: 30px;
    
}
.team-section{
    background-color: #F5F4FA;
    
}

.studio-team-list-item{
    background-color: #fff;
    text-align: center;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding-top: 95px;
    text-align: center;
    margin-bottom: 50px;
    
}

.team-list{
    display: flex;
    justify-content: center;
    padding-bottom: 95px;
}

.studio-team-list-item:not(:last-child){
    margin-right: 30px;

}
.team-person-photo{
    margin-bottom: 30px;
}
.team-person-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-person-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    padding-bottom: 30px;

}

.portfolio-main-button{
    min-width: 70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--title-color);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
}

.portfolio-main-button:hover,
.portfolio-main-button:focus{
    background-color: var(--focus-color);
    color: #fff;
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

/*-----Footer------*/
.footer{
    background-color: #2F303A;  
}
.footer-logo{
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block;
    padding-top: 60px;
    margin-bottom: 20px;
    
}

.address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 60px;
    
}
.adress-list-item:not(:last-child){
    margin-bottom: 10px;
}
.list-item{
    text-decoration: none;
    color: #ffffff99;
}

.list-item:hover,
.list-item:focus{
    color: var(--focus-color);
}


.map{
    color: #fff;
}
